@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.card-title {
    font-size: 30px;
}

.card-body {
    padding: 1rem 2rem !important;
    box-shadow: 2px 3px 5px 1px #cccccc;
}

.container-fluid {
    padding: 18px 0px;
}

.container2{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task-container{
    margin: 0px 200px;
    min-width: 500px;
}

.time-button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:20px !important;
    border:none;
    margin:5px;
    background:none;
}